@include grid;	// Include the grid mixin

// ------------------------------------------------------------


// Standard row
// Rows should contain columns as children
// You can use multiple grid denominations within each breakpoint, but each breakpoint must have unique column set-up
// For example, you can have a 6 and 8 column grid at breakpoint b, but you can't use 6 or eight columns in other breakpoints
.row {
	@extend %cf;
	position: relative;
	margin-left: auto;
	margin-right: auto;

	
	@include mq($bp-s) { 
		min-width: $bp-s;
		@include grid-columns(4); 	// Two column grid
	}
	
	@include mq($bp-m) { 
		min-width: $bp-m;
		@include grid-columns(6);	// Six column grid
	}
	
	@include mq($bp-l) { 
		min-width: $bp-l;
		@include grid-columns(8);	// Eight column grid
	}
	
	@include mq($bp-xl) { 
		min-width: $bp-xl;
		@include grid-columns(12);	// Twelve column grid
	}
	
	@include mq($bp-xxl) { 
		width: $bp-xxl;
	}

	// IE less than 9 
	.lt-ie9 & {
		@include grid-columns(12);	// Twelve column grid
		width: $ie-width;
	}
}

.row--pad {
	padding: $spacing $spacing/2;

	@include mq($bp-m, true) { 
		padding: $spacing*2 $spacing;
	}	
	
	& ~ .row--pad {
		padding-top: 0;
	}
	
}

// Drag row left to allow for equal spaced grid. AKA gutters
// Gutters set in mixins.scss file
.row__colspaced {
	position: relative;
	@extend %cf;
	
	@include mq($start-columns) {			
		min-width: (100% + $spacing-percent); 	
		left: -$spacing-percent; 	
	}
	
	.lt-ie9 & { 
		max-width: 100%; 
		min-width: auto; 
		left: auto; 
	}
}