[class*="span"] {
	width: 100%;
	display: block;
	float: left;
}

// ------------------------------------------------------------


// Standard row
// Rows should contain columns as children
// You can use multiple grid denominations within each breakpoint, but each breakpoint must have unique column set-up
// For example, you can have a 6 and 8 column grid at breakpoint b, but you can't use 6 or eight columns in other breakpoints
.row {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;

	& ~ .row {
		padding-top: 0;
	}

	@include mq($bp-s) {
		@include grid-columns(4); 	// Two column grid
	}

	@include mq($bp-m) {
		@include grid-columns(6);	// Six column grid
	}

	@include mq($bp-l) {
		@include grid-columns(8);	// Eight column grid
	}

	@include mq($bp-xl) {
		@include grid-columns(12);	// Twelve column grid
	}


	// IE less than 9
	.lt-ie9 & {
		@include grid-columns(12);	// Twelve column grid
		width: $ie-width;
	}
}

.row__colspaced {
	position: relative;
	@extend %cf;
	margin-left: -$spacing*1.5;
	margin-right: -$spacing*1.5;

	[class*="span"] {
		padding-left: $spacing*1.5;
		padding-right: $spacing*1.5;			
	}
}

.row--pad {
	padding: $spacing;

	@include mq($bp-m) {
		padding: $spacing*2 $spacing;
	}

	@include mq($bp-l, true) {
		padding: $spacing*3 $spacing;
	}

	& ~ .row--pad {
		padding-top: 0;
	}

}

.row--no-top-pad {
	padding-top: 0;
}

.row--no-bottom-pad {
	padding-bottom: 0;
}

.row--wide {

	@include mq-min-max(0, $bp-l) {

		.row__colspaced  {
			margin-left: -$spacing*1.5;
			margin-right: -$spacing*1.5;
		}
	}
}
