---
layout: default
---
<section class="section section--next-meetup">
	<div class="row row--pad">
		<div class="row__colspaced">
			<div class="span4-4 span6-2 span8-3 span12-4">
				<header class="section__header">
					<h1 class="section__title">Next meetup</h1>
					<p class="meetup-meta">
						<span class="meetup-meta__item">Date: </span>{{ site.data.meetup.event-start-date | date: "%a %b %-d, %Y" }}<br>
						<span class="meetup-meta__item">Time: </span>{{ site.data.meetup.event-start-date | date: "%k:%M" }} - {{ site.data.meetup.event-end-date | date: "%k:%M" }}<br>
						<span class="meetup-meta__item">Location: </span><a href="#map_canvas">Find us</a>
					</p>
					{% if site.data.meetup.event-id %}
					<a class="btn" href="{{ site.data.meetup.meetup-url }}/events/{{ site.data.meetup.event-id }}">RSVP</a>
					{% endif %}
					<div class="box">
						<h3 class="box__title">What to expect</h3>
						<p>The meetup starts with a bit of socialising along with food and drink so don't worry about eating first (unless you don't like pizza!).</p>
					</div>
				</header>
			</div>
			<div class="span4-4 span6-4 span8-5 span12-7 push12-1">
				<h1 class="section__title">codeHarbour on Tour!</h1>
				<p>This month we're in Maidstone with the help of our friends at <a href="http://squiders.com">Squiders</a>. There will be free transport to and from Maidstone from Holiday Extras - meeting at 6:00pm and getting us back at around 9:45. More details in the 'Finding Us' section below.</p><br><br>
				
				{% assign sorted = site.posts | sort: "pub-date" | reverse %}
				{% assign numTalks = 2 %}
				{% for post in sorted limit:numTalks %}
					{% include talk.html %}
				{% endfor %}
				

			</div>
		</div>
	</div>
</section>

<div id="map_canvas"></div>


<section class="section section--secondary">
	<div class="row row--pad">
		<div class="row__colspaced">
			<div class="span4-4 span6-2 span8-3 span12-4">
				<header class="section__header">
					<h1 class="section__title">Finding us</h1>
				</header>
			</div>
		<div class="span4-4 span6-4 span8-5 span12-7 push12-1">
			<div class="section__content">
				<p>For this event only we are in Maidstone. The address is:<br>
					<address>The Art Lounge<br>
					13 Market Buildings<br>
					Maidstone<br>
					Kent, ME14 1HP</address>
				</p>
				
				<h2>Fancy a lift?</h2>
				<p>We are putting on some transport from Holiday Extras for those in the Folkestone area that fancy coming along.  We'd love to see some of our regulars in Maidstone.  Road trip!  If you want to get a lift you will need to get yourself to Holiday Extras for 6pm.  <a href="mailto:hello@codeharbour.co.uk">Email us</a> to book your place!</p>
<!--
				<h3>From London</h3>
				<p>The HS1 fast train from St Pancras gets you to Ashford. From there you can jump on the next train to Westenhanger. Send us a message on the <a href="{{ site.data.meetup.meetup-url }}/events/{{ site.data.meetup.event-id }}">meetup.com</a> page - we might be able to give you a lift from Ashford.</p>
				<h3>When you arrive at Holiday Extras</h3>
				<p>From the carpark make your way around to the opposite side of the building, walking past the main front door.  You should see some decking with a door that goes into a breakout area. Look for people with pizza and beer.  You've made it!</p>
-->
			</div>
		</div>
	</div>
</section>


<section class="section">
	<div class="row row--pad">
		<div class="row__colspaced">
			<div class="span4-4 span6-2 span8-3 span12-4">
				<header class="section__header">
					<h1 class="section__title">Sponsors</h1>
				</header>
			</div>
			<div class="span4-4 span6-4 span8-5 span12-7 push12-1">
				<div class="section__content">

					<div class="sponsor">
						<h2 class="sponsor__name">Holiday Extras</h2>
						<a href="http://www.holidayextras.co.uk/"><img class="sponsor__logo" src="../assets/img/holidayextras.jpg"></a>
						<p>Holiday Extras is the UK market leader for travel add-ons, and one of the biggest tech firms in Kent. HX have been a keen supporter of codeHarbour from the start, and we're very proud to now have them as our primary sponsor and host.</p>
					</div>
					
					<div class="sponsor">
						<h2 class="sponsor__name">Squiders</h2>
						<a href="http://www.squiders.com/"><img class="sponsor__logo" src="../assets/img/squiders-logo-black.svg"></a>
						<p>Squiders are a full stack studio, they take care of every aspect of your project in-house: from the first discovery meeting to research to design and development.</p>
					</div>					

				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--primary">
	<h1>Previous talks</h1>

	<div class="row row--pad">
		<div class="row__colspaced">

			{% for post in sorted limit:3 offset:numTalks %}
			<div class="span4-4 span6-3 span12-4">
				{% include talk-summary.html %}
			</div>
			{% endfor %}

		</div>
	</div>

	<p class="centered">
		<a class="btn btn--cta" href="/talks.html">View the archive</a>
	</p>

</section>