<div class="row row--pad">
  <div class="row__colspaced">
    <div class="span4-4 span6-4 span8-5 span12-7 push12-1">
      <div class="section__content">
        <p>We&rsquo;re hosted by the good people at Holiday Extras. The address is:<br>
          <address>
            Holiday Extras<br>
            Ashford Rd<br>
            Newingreen<br>
            Kent, CT21 4JF
          </address>
        </p>
        <h3>From London</h3>
        <p>The HS1 fast train from St Pancras gets you to Ashford. From there you can jump on the next train to Westenhanger. Send us a message on the <a href="{{ site.data.meetup.meetup-url }}/events/{{ site.data.meetup.event-id }}">meetup.com</a> page - we might be able to give you a lift from Ashford.</p>
        <h3>When you arrive at Holiday Extras</h3>
        <p>
          From the carpark, make your way to the main front entrance and follow the signs for codeHarbour. Look for people with pizza and beer.  You've made it!
        </p>
      </div>
    </div>
</div>
