<div class="row row--pad">
  <div class="row__colspaced">
    <div class="span4-4 span6-4 span8-5 span12-7 push12-1">
      <div class="section__content">
        <p>This month, we&rsquo;re hosted by good people at The Creative Foundation in Folkestone at their amazing venue The Quarterhouse. The address is:<br>
          <address>
            Quarterhouse<br>
            Mill Bay<br>
            Folkestone<br>
            Kent, CT20 1BN
          </address>
        </p>
        <h3>From London</h3>
        <p>The HS1 fast train from St Pancras gets you to Ashford. From there you can jump on the next train to Folkestone Centeral. The Quarterhouse is situated on Tontine Street, a few minutes walk away from the harbour and the Old High Street. Send us a message on the <a href="{{ site.data.meetup.meetup-url }}/events/{{ site.data.meetup.event-id }}">meetup.com</a> page - we might be able to arrange a lift to The Quarterhouse.</p>
        <p>Travelling via car, the carpark is available at the rear of the builiding, free parking applies after 6pm
        <h3>When you arrive at The Quarterhouse</h3>
        <p>
          Once inside the venue, follow the signs for codeHarbour. You've made it!
        </p>
      </div>
    </div>
</div>
