<section class="section section--secondary">

	<div class="row row--pad">

		<div class="row__colspaced">

			<div class="span4-2 span6-3 span12-6">
				<a href="https://www.meetup.com/codeharbour/"><img class="social-icon" src="{{ site.url}}/assets/img/meetup.png" alt="Meetup Logo"></a>
			</div>

			<div class="span4-2 span6-3 span12-6">
				<a href="https://twitter.com/codeharbour"><img class="social-icon" src="{{ site.url}}/assets/img/twitter.png" alt="Twitter Logo"></a>
			</div>

	<div class="span4-2 span6-3 span12-6">
				<a href="https://www.linkedin.com/company/codeharbour/"><img class="social-icon" src="{{ site.url}}/assets/img/linkedin-logo.png" alt="Linkedin Logo"></a>
			</div>

		</div>

	</div>

</section>

<footer class="section section--tertiary">

	<h1>Organised by</h1>

	<div class="row row--pad">

		<div class="row__colspaced">

			{% for organiser in site.data.organisers %}
			<div class="span4-4 span6-3 span12-6">
				{% include organiser.html %}
			</div>
			{% endfor %}

		</div>
	</div>

</footer>
