<div class="row row--pad">
  <div class="row__colspaced">
    <div class="section__content">
      <div class="sponsor">
        <div class="span4-4 span6-2 span8-3 span12-4">
          <h4 class="sponsor__name">Holiday Extras</h4>
          <a href="http://www.holidayextras.co.uk/"><img class="sponsor__logo" src="../assets/img/holidayextras.png" alt="Holiday Extras logo"></a>
        </div>
        <div class="span4-4 span6-4 span8-5 span12-7 push12-1">
          <p>
            Holiday Extras is a fast moving travel-technology business where our purpose is to make travel better.
            We're the UK market leader in travel ancillaries; once you have booked a flight and accommodation, we take care of the rest.
            With over 6 million bookings a year we are one of the UK's most innovative travel companies and continue to grow fast and expand our offering.
            We win awards for our products and our people; being on the Sunday Times Best Companies list for 11 years running.
            Our Web Team is ever expanding and you can get a great feel for what were working on by
            <a href="http://tech.holidayextras.com/">taking a look at our blog.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row--pad">
  <div class="row__colspaced">
    <div class="section__content">
      <div class="sponsor">
        <div class="span4-4 span6-2 span8-3 span12-4">
          <h4 class="sponsor__name">Deeson</h4>
          <a href="https://www.deeson.co.uk/"><img class="sponsor__logo" src="../assets/img/Deeson-logo.png" alt="Deeson logo"></a>
        </div>
        <div class="span4-4 span6-4 span8-5 span12-7 push12-1">
          <p>
            Deeson is an innovative digital agency with offices in Canterbury and London.
            Our clients include ITV, Robbie Williams and Shepherd Neame.
            We’re active contributors to the global open source community and have a strong culture of professional development.
            Deeson aren’t just innovating with technology, we’re defining the future of work too. We’ve published our
            <a href="https://handbook.deeson.co.uk/">Company Handbook</a> so you can find out more about paid sabbaticals and flexible working.
            Or Check out our <a href="https://deeson.bamboohr.co.uk/jobs/">current vacancies</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row--pad">
  <div class="row__colspaced">
    <div class="section__content">
      <div class="sponsor">
        <div class="span4-4 span6-2 span8-3 span12-4">
          <h4 class="sponsor__name">The Creative Foundation</h4>
          <a href="http://www.creativefoundation.org.uk/"><img class="sponsor__logo" src="../assets/img/CF_rgb.jpg" alt="The Creative Foundation logo"></a>
        </div>
        <div class="span4-4 span6-4 span8-5 span12-7 push12-1">
          <p>
            The Creative Foundation is an independent arts charity dedicated to producing and enabling the very best creative activity that will transform Folkestone and the surrounding area of Kent.
            Working with the people of Folkestone, our partners and other stakeholders, we will make the town a better place to live, work, visit and study.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
