<article class="talk section__content">
  <h1>{{ talk.title }}</h1>
  <div class="speaker profile">
    {% if talk.speaker-twitter %}
    <a href="https://twitter.com/{{ talk.speaker-twitter }}">
    <img class="profile__img" src="{{ talk.speaker-img }}" alt="{{ talk.speaker }}">
    </a>
    {% else %}
    <img class="profile__img" src="{{ talk.speaker-img }}" alt="{{ talk.speaker }}">
    {% endif %}
    <h2 class="profile__name">with {{ talk.speaker }}</h2>
  </div>
  <div class="talk__entry">
    {{ talk.content }}
  </div>
  {% if talk.video %}
  <a class="btn " href="#">Video</a>
  {% endif %}
  {% if talk.video %}
  <a class="btn " href="#">Slides</a>
  {% endif %}
</article>
