<article class="talk">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="speaker profile">
    {% if post.speaker-twitter %}
    <a href="https://twitter.com/{{ post.speaker-twitter }}">
    <img class="profile__img" src="/assets/img/{{ post.speaker-img }}" alt="{{ post.speaker }}">
    </a>
    {% else %}
    <img class="profile__img" src="/assets/img/{{ post.speaker-img }}" alt="{{ post.speaker }}">
    {% endif %}
    <h2 class="profile__name">with {{ post.speaker }}</h2>
  </div>
  <div class="talk__entry">
    {{ post.excerpt }}
  </div>

</article>
