.btn {
  display: inline-block;
  padding: 1em 1em .75em;
  background: $secondary;
  color: white;
  margin: 1em 0;
  border-bottom: .25em solid darken($secondary, 10);
  transition: all .3s;

  &:hover {
    background: darken($secondary, 30);
    color: white;
  }
}

.btn--primary {
  background: $primary;
  border-color: darken($primary, 10);

  &:hover {
    background: darken($primary, 30);
  }
}

.btn--cta {
  font-size: 2em;
  margin: 1em 0;
  padding: .5em 1em .25em;
}