.site-header {
  background: #163D6A;
  color: white;

  .logo {
	color: white;
	text-align: center;
	font-size: 2em;
	line-height: 2em;
  }

  .headline {
	font-size: 3em;
	text-align: center;
	color: white;
	margin: 1em;
  }

  .description {
	max-width: 28em;
	text-align: center;
	margin: 0 auto;
  }

  @include mq(em(500), true) {

    .headline {
      font-size: 4em;
    }
  }

}
