.internal-header {
  background: $navy;

  @extend %cf;

  .site-title {
	float: left;
	font-size: 1.25em;
	line-height: 2.5em;
	color: $white;
  }

  nav {
	ul {
	  float: right;
	  li {
		display: inline-block;
		line-height: 2.5em;
		margin-left: 1em;

		a {
		  color: $white;
		}
	  }
	}
  }
}