.section {

  overflow: hidden;
  padding: 2em 0;

  &.section--primary {
	background-color: $primary;
  }

  &.section--secondary {
	background-color: $secondary;
  }

  .section--title {
	font-size: 3em;
  }
}