.section {

  & > h1 {
    text-align: center;
  }

  .section__title {
    line-height: 1;
  }

  overflow: hidden;
  padding: 4em 0;

  &.section--primary {
	background-color: $primary;
  }

  &.section--secondary {
  	background-color: $secondary;

    a {
      @include links(darken($secondary, 40%));
    }
  }

  .section__header {
    text-align: left;

    @include mq($bp-m) {
      text-align: right;
    }
  }
}

.section--next-meetup {

  .talk ~ .talk {
    margin-top: $spacing*2;
  }
}
