.section {

  overflow: hidden;
  padding: 4em 0;

  &.section--primary {
	background-color: $primary;
  }

  &.section--secondary {
	background-color: $secondary;
  }

  .section__header {
    width: 38%;
    float: left;
    padding: 2em;
    text-align: right;
  }

  .section__title {
	font-size: 3em;
    text-align: right;
  }

  .section__content {
    width: 62%;
    float: right;
    padding: 2em;
  }
}